{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <title>Tuplas</title>
</head>
<body>
    <div class="header">
        <h2>Lists</h2>
    </div>

    <hr/>
    <ul>
        <li><a href="{% url 'index' %}">Regresar</a></li>
    </ul>

    <div class="contenedor">
        {{l1}}
    </div>

    <div class="contenedor">
        {{l2}}
    </div>

    <div class="contenedor">
        a: {{c1}}, b: {{c2}}, posicion L1: {{posicionL1}} <br>
        posicion L2: {{posicionL2}}
    </div>

    <div class="contenedor">
       ¿El número esta? {{busqueda}}
    </div>

    <div class="contenedor">
        reversa: {{reverse}}
     </div>
</body>
</html>